<div class="wrapper">


<section class="picture">

  <img ng-src="public/images/ChrisDavis.jpg" alt="" class="image" />
</section>

<section class="description">
  <span class="text">I'm a Front-End Developer located in Royal Oak, Mi.I enjoy using HTML5, CSS3, JavaScript, and more to create beautiful and functional web applications. I love how powerful and impactful web development can be. Everyday I'm learning and working to become better at what i do. When I'm not working on code, you can find me at the gym, enjoying a nice drink with friends, or managing my fantasy football team. </span>


</section>

</div>
