<div class="wrapper">



    <a href="https://bookmarkd-gc.herokuapp.com">
        <div class="project">
            <img ng-src="public/images/bookmarkd.png" alt="Bookmarkd">
            <p>Web app designed to be used by students in the classroom. Students can register, log books, and unlock trophies based on books read. Built using AngularJS and Bootstrap utilizing a database.</p>
        </div>
    </a>


    <a href="https://cdavis19.github.io/lab17/">
        <div class="project">
            <img ng-src="public/images/reddit.PNG" alt="reddit">
            <p>Webpage built to to display reddit feed using Angular's built in $http service to pull posts from reddit. Then have those posts be displayed on the webpage.</p>
        </div>
    </a>

    <a href="https://cdavis19.github.io/lab15/">
        <div class="project">
            <img ng-src="public/images/icecube.PNG" alt="icecube">
            <p>Fun web application that allows a user to enter information in one view and then see all the information displayed in another view. (Ice Cube Mad Libs)</p>
        </div>
    </a>



</div>
